*
{
 box-sizing: border-box;
}

body
 {
    margin: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 }

header>img{
    float: left;
}

a{
    color: black;
    text-decoration: none;
    padding: 10px;
}
nav>ul
{

    width: 50%;
}

nav>ul>li
{
    display: inline-block;
}

#container
{
    background-color: #f3f3f3;
    margin: 50px;
    padding: 50px;
}

#container>div
{
    width: 300px;
    display: inline-block;
    margin: 50px;
}

table>tr>td
{
    border: solid 1px black;
    padding: 20px;
}
#voyage{
    width: 300px;
}
#tags{
    width: 300px;
}
#categories{
    width: 300px;
}
#plus{
    width: 300px;
}
#infos>div{
    display: inline-block;
    margin: 50px;
}
img{
    border: white solid 20px;
}
.fdht{
    background-color: white;
}

#a{
 padding: 20px;
 width: 50%;
}
#a>img{
    width: 100%;
}
#b{
    width: 50%;
}
#c{
    width: 50%;
}
#d{
    width: 50%;
}




